<main>
   <section>
      <h2>Historique</h2>

      <p>Facebook est un réseau social en ligne appartenant à Meta. Il
         permet à ses utilisateurs de publier des images, des photos, des vidéos, des fichiers et documents, d'échanger
         des
         messages, joindre et créer des groupes et d'utiliser une variété d'applications sur une variété
         d'appareils.<br /><br />

         Facebook est fondé en 2004 par Mark Zuckerberg et ses camarades de l'université Harvard : Chris Hughes, Eduardo
         Saverin,
         Andrew McCollum et Dustin Moskovitz. D'abord réservé aux étudiants de cette université, il s'est ensuite ouvert
         à
         d'autres universités américaines avant de devenir accessible à tous en septembre 2006.<br /><br /> Le nom du
         site
         provient
         des
         albums photo (« trombinoscopes » ou « facebooks » en anglais) regroupant les photos des visages de tous les
         élèves
         prises en début d'année universitaire.<br /><br />

         Troisième site web le plus visité au monde après Google et YouTube selon Alexa4, il franchit en juin 2017 le
         nombre de 2
         milliards d'utilisateurs actifs5. Le 24 août 2015, pour la première fois, un milliard de personnes ont utilisé
         Facebook
         dans la même journée6.<br /><br />

         Facebook fait régulièrement l'objet de débats, tant sur le plan politique que juridique, économique, culturel
         et social.
         Son influence dans la sphère publique et la manière dont il affecte la vie sociale de ses utilisateurs, son
         usage des
         données personnelles, son rôle dans la propagation des infox, sa responsabilité dans la banalisation des
         discours de
         haine ou bien encore sa politique de régulation des contenus sont ainsi souvent discutés dans l'actualité.</p>
      <caption>
         <img src="https://th.bing.com/th/id/R.cc29e49178f10cb0d60a16236338befa?rik=oLQCDNjAQelp8g&pid=ImgRaw&r=0"
            alt="Photo de Marc Zuckerberg">
      </caption>
   </section>
</main>