<main>
   <h2>Invitation Groupe Facebook Décliné :</h2>
   <section id="first"></section>
   <hr style="width: 60%;">
   <h2>Invitation Groupe Facebook Accepté :</h2>
   <section id="second"></section>
   <script type="module" src="/js/request.js"></script>
</main>